body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    background-color: white;
}

body>div {
    padding: 20px;
    margin: auto;
    width: inherit;
    display: flex;
    flex-direction: column;

}

body>div>video {
    background-color: black;
    display: block;
}


.tab {
    width: 650px;
    margin: 10px auto;
}

.tab .taghead {
    overflow: hidden;
    border: 1px solid black;
    background-color: black;
    height: 39px;
    width: 650px;

}

.taghead ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.taghead li {
    width: 90px;
    float: left;
    height: 39px;
    line-height: 39px;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: white;
    background-color: black;
}

.taghead .tag {
    background-color: white;
    color: black;
}
/*  ********************************  */

#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 50px;
    top: 0;
    right: 0;
}
#user_avatar {
    width: 50px;
    height: 50px;
    background-color: rgb(60, 240, 99);
    border-radius: 50%;
    cursor: pointer;
}

#user_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: calc(100vh);
    background-color: #888888; 
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 40px;
    box-sizing: border-box;
}

#user_menu.active {
    transform: translateX(0);
}


input[type="menu_item"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}