/*  频道栏  */
.sidebar {
    min-width: 17%;
    max-width: 17%;
    background: linear-gradient(to right, #666, #333); /* 水平渐变 */
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.sidebar h1 {
    width: 50px;
    height: 50px;
    margin: 0 auto; /* 将左右边距设置为 auto 来水平居中 */
    text-align: center; /* 确保父元素居中 */
    /* font-size: 24px;*/
    margin-bottom: 20px; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    background-color: #666;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
    color: #fff;
}

.sidebar button:hover {
    background-color: #999;
}

.sidebar .dividerLine {
    height: 1px;
    background-color: #000000; /* 分割线颜色 */
    margin: 20px 0; /* 分割线上下的间距 */
}


