/* 浮窗整体样式 */
.floatWindow{
    display: none; /* 默认情况下隐藏模态浮窗 */
    position: fixed; /* 固定定位，使其覆盖在页面上 */
    z-index: 1; /* 设置堆叠顺序，确保在顶部显示 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* 添加半透明黑色背景，实现遮罩效果 */
}


.floatWindow-data {
    background-color: #fefefe;
    margin: 20px auto; /* 居中显示模态内容 */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 25%;
    overflow: auto;
   /* width: 400px;          /* 修改宽度为400px */
    background: linear-gradient(45deg, #de99f3, #8ef0d3);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* 设置标题居中 */
#floatWindow-title {
    text-align: center;
}

/* 标签样式 */
.floatWindow label{
    height: 30px;
    font-size: 20px;
}

.floatWindow #title{
    float: none;
    width: 120px;
    height: 120px;
    margin: 0 auto; /* 将左右边距设置为 auto 来水平居中 */
    text-align: center; /* 确保父元素居中 */
    margin-top: 10px;
}

/* 输入框样式 */
.floatWindow input[type="password"],input[type="edit-userName"],input[type="edit-userIphone"] {
    width: calc(100% - 12px); /* 减去padding的宽度 */
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

/* 按钮样式 */
.floatWindow button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

/* 按钮在悬停时的效果 */
.floatWindow button:hover {
    background-color: #45a049;
}


.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
