/* 个人中心 */
#user-profile {
    margin: 10px;
    width: calc(100%);
    flex-direction: column; /* 设置为垂直方向的列布局 */
}

/* #user-rebackVideo{
    width: calc(5%);
    height: calc(5%);
    color: #fff;
    background-color: #ff3852;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
} */

#user-baseInfo{
    padding: 20px;
    width: 95%;
    background: linear-gradient(to right, #8ac1f5, #adf391); /* 蓝色到绿色的水平渐变 */
    align-items: center;
    border-bottom: 1px solid #000;
    border-top-left-radius: 10px; /* 左上角圆角半径为 10px */
    border-top-right-radius: 10px; /* 右上角圆角半径为 10px */
    height: 20%;
}

#profile-picture {
    width: 100px;
    height: 100px;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile-info {
    flex: 1;
}

.profile-info h1 {
    margin: 0;
    font-size: 36px;
    color: #333;
}

.profile-info h5 {
    margin: 5px 0;
    color: #666;
}

.profile-counts {
    display: flex;
    margin-top: 10px;
}

.profile-counts span {
    margin-right: 20px;
    font-size: 14px;
    color: #666;
}

.count {
    font-weight: bold;
    color: #333;
}

.edit-button button {
    margin-left: calc(90%);
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #ff3852;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

#user-videoInfo-bar button{
    background-color: #4CAF50;
    float: left;
    margin:10px 10px auto;
    font-size: 16px;
    color: blue;
    cursor: pointer;
}

/* 视频区域 */
.user-videoInfo{
    width: 95%;
    height: 65vh;
    /*background: linear-gradient(to right, #8ac1f5, #adf391); /* 蓝色到绿色的水平渐变 */
    background-color: #adf391;
    align-items: center;
    overflow-y: auto; /* 如果评论内容超出评论区域的高度，启用垂直滚动条 */
    
    border-bottom-left-radius: 10px; /* 左下角圆角半径为 10px */
    border-bottom-right-radius: 10px; /* 右下角圆角半径为 10px */
    margin: 0;
}

/* 定制滚动条样式 */
#user-videoInfo::-webkit-scrollbar {
    width: 12px; /* 设置滚动条宽度 */
}

/* 滚动条轨道 */
#user-videoInfo::-webkit-scrollbar-track {
    background-color: #f7c29c; /* 设置滚动条轨道背景颜色 */
}

/* 滚动条滑块 */
#user-videoInfo::-webkit-scrollbar-thumb {
    background-color: #888; /* 设置滚动条滑块颜色 */
    border-radius: 6px; /* 设置滑块圆角 */
}

/* 滚动条滑块悬停样式 */
#user-videoInfo::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 设置滑块悬停时的颜色 */
}

.user-videoInfo-data{
    background-color: white;
    border-radius: 30px;
    width: calc(20%);
    height: calc(50%);
    float: left; /* 设置左浮动 */
    margin: 10px;
    padding: 10px;
    text-align: center; /* 设置文字居中 */
    cursor: pointer; /* 鼠标指针样式变为手形，表示可点击 */
}

/* .user-videoInfo-data div {
    word-wrap: break-word; /* 兼容性更好 */
/*    overflow-wrap: break-word; /* 新er的名称 */
/*} */

.deleteVideo{
    /* display: none; /*默认不显示删除按钮 */
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}