/*  主页面  */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background: radial-gradient(ellipse at center, #adf391 0%, #8ac1f5 100%); /* 蓝色到绿色的横向径向渐变 */
    width: 100vw; /* 将页面宽度设置为屏幕宽度 */
    height: 100vh; /* 将页面高度设置为屏幕高度 */
}

/*  右上角个人中心部分  */
#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 40px;
    top: 0;
    right: 0;
}

#user_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}


#user_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: calc(100vh);
    background: radial-gradient(ellipse at center, #333 0%, #666 100%); /* 蓝色到绿色的横向径向渐变 */
    color: white;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 40px;
    box-sizing: border-box;
}

#user_menu.active {
    transform: translateX(0);
}

input[type="menu_item"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #666;
    color: white;
    cursor: pointer;
}

#downloadPC {
    background-color:red;
}

/*  主体部分  */
.content {
    flex: 1;
    padding: 20px;
    position: relative; /* 设置相对定位 */
}

.content-main {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.search-box {
    margin-bottom: 20px;
    text-align: center;
}

.search-box input[type="text"] {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.search-box button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-box button:hover {
    background-color: #555;
}

.video-player-container {
    position: relative;
    padding-top: 56.25%; /* 16:9 视频播放器比例 */
    overflow: hidden;
    background-color: #000;
}

.video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-info {
    position: absolute;
    top:75%; /* 位于视频的上下位置70%左右 */
    left: 10px;
    color: #fff;
}

.video-info div {
    margin-bottom: 10px;
}

#publicUser1 {
    font-size: 25px; /* 设置字体大小为 16 像素 */
}

.video-controls {
    position: absolute;
    top: 50%; /* 位于垂直中间 */
    right: 10px; /* 靠右 */
    transform: translateY(-50%); /* 上移一半高度，实现垂直居中 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 水平居中 */
}

.btn {
    background-color: #666;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px; /* 按钮间距 */
}

.video-controls div {
    color: white;
    font-size: 20px; 
}
